<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="MyConnection"
		connectionstring="Data Source=DESKTOP-IU534U3\SQLEXPRESS.;Initial Catalog=SistemDataSiswa_sas;intergrated Security=True"
		providerName="System.Data.sqlClient"/>
	</connectionStrings>
</configuration>