USE [master]
GO
/****** Object:  Database [SistemDataSiswa_sas]    Script Date: 30/11/2025 15:06:16 ******/
CREATE DATABASE [SistemDataSiswa_sas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemDataSiswa_sas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemDataSiswa_sas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemDataSiswa_sas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemDataSiswa_sas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemDataSiswa_sas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemDataSiswa_sas]
GO
/****** Object:  Table [dbo].[Siswa]    Script Date: 30/11/2025 15:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siswa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nisn] [varchar](20) NULL,
	[nama] [varchar](100) NULL,
	[kelas] [varchar](20) NULL,
	[jurusan] [varchar](50) NULL,
	[nilai_akhlak] [varchar](2) NULL,
	[rata_nilai] [float] NULL,
 CONSTRAINT [PK_Siswa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/11/2025 15:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password]) VALUES (1, N'siswa', N'siswa')
INSERT [dbo].[Users] ([id], [username], [password]) VALUES (2, N'ainel', N'ainel123')
INSERT [dbo].[Users] ([id], [username], [password]) VALUES (3, N'rizkiganteng', N'baubau')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Siswa]    Script Date: 30/11/2025 15:06:16 ******/
ALTER TABLE [dbo].[Siswa] ADD  CONSTRAINT [IX_Siswa] UNIQUE NONCLUSTERED 
(
	[nisn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
